# build folders
/target
/consensus/target
/network/target
/ledger/target
/swiss_knife/target

# tmp test folder
/test
/ledger/test

# state database
/database

# key pair
keyfile.dat

# line separated list of validator nodes/peers
validators.txt
